.Contact{
    position: absolute;
    transform: translate(500px,60px);
    width: 820px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.Line{
    position: relatives;
    transform: translateX(30px);
}

.Contact-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Contact-detail{
    width: 820px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Contact-phone{
    margin: 20px;
    width: 333px;
    height: 150px;
    border-radius: 20px;
    background: #FFEED9;
    justify-content: flex-start;
}

.Contact-email{
    margin: 20px;
    width: 333px;
    height: 150px;
    border-radius: 20px;
    background: #F2F7FC;;
}

.Contact-block-title{
    position: relative;
    transform: translateX(30px);
    display: flex;
    flex-direction: row;
}

.Phone-text{
    margin-left: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 250% */
    letter-spacing: 0.4px;
}

.Phone_number{
    position: relative;
    display: flex;
    flex-direction:column;
    transform: translate(-60px,-40px);
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 250% */
    letter-spacing: 0.4px;
}

.Email-text{
    margin-left: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 250% */
    letter-spacing: 0.4px;
}

.Email-address{
    position: relative;
    display: flex;
    flex-direction:column;
    transform: translate(0px,-40px);
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 285.714% */
    letter-spacing: 0.35px;
}

.Contact-form{
    position: relative;
    transform: translate(10%,40px);
    width: 694px;
    height: 392px;
    border-radius: 20px;
    background: #F8FBFB;
}

.Email-submit-text{
    position: relative;
    transform: translateY(30px);
    margin-left: 70px;
    margin-right: 70px;
    text-align: left;
}

.Contact-input{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transform: translate(70px,50px);
}

.Form-text{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 0.4px;
}

.Form-input{
    background-color: white;;
    height: 30px;
    width: 530px;
    border: 2px black;
}

input[type=submit]{
    position: relative;
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    padding: 5px 20px;
    background-color: white;
    border: none;
    border-radius: 20px;
    scale: 1.5;
}

input[type=submit]:hover{
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    padding: 5px 20px;
    color: white;
    background:linear-gradient(127deg, #FF9C1A 0%, #E80505 100%);    ;
    border:none;
    border-radius: 20px;
    scale: 1.5;
}

.Form-send{
    position: relative;
    transform: translate(0px,10px);
    width: 124px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: linear-gradient(127deg, #FF9C1A 0%, #E80505 100%);
}