.Work{
    position: absolute;
    transform: translate(500px,60px);
    width: 820px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.Line{
    position: relatives;
    transform: translateX(30px);
}

.Work-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Work-navbar{
    transform: translateX(50%);
}

.Work-navbar ul{
    justify-content: space-between;
    padding: 0%;
    display: flex;
    list-style-type: none;
    position: relative;
    flex-direction: row;
    align-items: center;
}

.Work-navbar ul li{
    color: #57657A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 20px;
}

.Work-navbar ul li .work-activeButton{
    color: #FA5252;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a:link{
    text-decoration: none;
}

